<div class='row small-up-1 medium-up-2'>
  <div class='column'>
    <div class='callout large'>
      <center><p class='subheader'><strong>Com quem falar hoje</strong></p></center>
      <div class='row'>
        <% @customers_for_today.each do |customer| %>
          <div class='lead'><%= customer.name %> - <%= customer.cellphone %></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='column'>
    <div class='callout large'>
        <%= link_to('NOVA VENDA', new_sale_path, class: 'success hollow expanded button') %>
        <%= link_to('NOVA CLIENTE', new_customer_path, class: 'success hollow expanded button') %>
    </div>
  </div>

</div>
