<h1>NOVA VENDA</h1>

<%= form_tag action: 'create' do %>
  <p><h2>Cliente:</h2>
  <p><%= collection_select(:sale, :customer_id, @customers, :id, :name) %>

  <p><h2>Produtos:</h2>
  <p><%= collection_check_boxes(:sale, :products_ids, @products, :id, :name) %>

  <p><%= submit_tag "Criar" %>
<% end %>
