<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><%= image_tag 'secretary-woman2.png', height: '18', width: '18' %></li>
      <li><span class='mk-color'>Secretária MK</span></li>
    </ul>
  </div>
</div>

<br />
